.image-item{
  width: 250px;
  height: 180px;
}

.image-wrapper{
  display: inline;
}

.menu-item{
  display: block;


  /*display: none;   --not take any space
  visibility: hidden;  ---take space */
}
